<div class="flex pt-4 relative flex-col justify-center items-center h-full">
  <p *ngIf="CartItems.length <= 0" class="h-screen">your Cart is Empty</p>
  <div
    *ngIf="CartItems.length > 0"
    class="bg-repeat flex flex-col flex-1 gap-2"
  >
    <div *ngFor="let item of CartItems; let i = index" class="flex gap-3 px-10">
      <div
        class="overflow-hidden place-content-between md:px-12 w-screen flex gap-2 rounded-lg shadow transition hover:shadow-lg dark:shadow-gray-700/25"
      >
        <div>
          <img alt="Office" src="{{ item.thumbnail }}" class="h-72 w-96" />
        </div>

        <div class="bg-white p-4 md:w-full dark:bg-gray-900 sm:p-6">
          <a href="#">
            <h3 class="mt-0.5 text-lg text-gray-900 dark:text-white">
              {{ item.title }}
            </h3>
          </a>
          <p class="mt-0.5 text-lg text-gray-900 dark:text-white">
            {{ item.description }}
          </p>
          <p class="mt-0.5 text-lg text-gray-900 dark:text-white">
            {{ item.rating }}
          </p>
          <h2 class="mt-0.5 text-lg text-gray-900 dark:text-white">
            Discount :{{ item.discountPercentage }} %
          </h2>
          <h2 class="mt-0.5 text-lg text-gray-900 dark:text-white">
            MRP: {{ item.price }} $
          </h2>

          <p class="mt-0.5 text-lg text-gray-900 dark:text-white">
            Stock :
            {{ item.stock == 0 ? "Out of Stock" : item.stock }}
          </p>
          <button
            class="inline-block rounded bg-teal-600 px-4 py-2 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring hover:bg-teal-500"
            (click)="deleteItem(item.id)"
          >
            Delete Item
          </button>
        </div>
        <div
          class="bg-white p-4 md:w-72 flex justify-center items-center dark:bg-gray-900"
        >
          <h2 class="mt-0.5 text-lg text-gray-900 dark:text-white">
            Price: {{ discountedPrice[i] }} $
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="CartItems.length > 0"
    class="bg-white p-4 flex flex-col dark:bg-gray-900"
  >
    <h2>Total : {{ TotalPrice }}</h2>
    <button
      class="inline-block rounded bg-teal-600 px-4 py-2 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring hover:bg-teal-500"
      (click)="buy()"
    >
      Checkout
    </button>
  </div>
</div>
