<div class="flex gap-3 flex-wrap flex-row px-10">
  <div
    *ngFor="let detail of homeDetails; let i; index"
    class="w-1/5 overflow-hidden rounded-lg shadow transition hover:shadow-lg dark:shadow-gray-700/25 cursor-pointer"
    (click)="selectedProduct($event, detail.product_id)"
  >
    <img
      alt="Office"
      src="{{ detail.product_photo }}"
      class="bg-white h-70 w-full object-contain aspect-video"
    />

    <div class="bg-white p-4 dark:bg-gray-900 sm:p-6 cursor-pointer">
      <h3 class="mt-0.5 text-lg text-gray-900 dark:text-white">
        {{ detail.product_title }}
      </h3>
      <h2 class="mt-0.5 text-lg text-gray-900 dark:text-white">
        MRP: {{ detail.original_price }} $
      </h2>
      <h2 class="mt-0.5 text-lg text-gray-900 dark:text-white">
        Deal Price :{{ detail.price }} $
      </h2>
      <div class="flex gap-4">
        <button
          class="inline-block rounded bg-teal-600 px-4 py-2 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring hover:bg-teal-500"
        >
          Buy</button
        ><button
          class="inline-block rounded bg-teal-600 px-4 py-2 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring hover:bg-teal-500"
        >
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</div>
