<button
  (click)="toggleTheme()"
  class="inline-block rounded bg-teal-600 px-4 py-2 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring hover:bg-teal-500"
>
   <fa-icon [icon]="faSun" size="lg"></fa-icon>
</button>
<!-- <a
  class="inline-block rounded border border-current px-8 py-3 text-sm font-medium text-indigo-600 transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring active:text-indigo-500"
  href="/download"
>
  Download
</a> -->
