<div class="flex gap-3 px-10 h-screen">
  <div
    class="overflow-hidden flex rounded-lg shadow transition hover:shadow-lg dark:shadow-gray-700/25"
  >
    <div>
      <img
        alt="Office"
        src="{{ productDetail.thumbnail }}"
        class="h-70 w-full object-cover"
      />
    </div>

    <div class="bg-white p-4 dark:bg-gray-900 sm:p-6 h-fit">
      <a href="#">
        <h3 class="mt-0.5 text-lg text-gray-900 dark:text-white">
          {{ productDetail.title }}
        </h3>
      </a>
      <p class="mt-0.5 text-lg text-gray-900 dark:text-white">
        {{ productDetail.description }}
      </p>
      <p class="mt-0.5 text-lg text-gray-900 dark:text-white">
        {{ productDetail.rating }}
      </p>
      <h2 class="mt-0.5 text-lg text-gray-900 dark:text-white">
        Discount :{{ productDetail.discountPercentage }} %
      </h2>
      <h2 class="mt-0.5 text-lg text-gray-900 dark:text-white">
        Deal Price :{{ DealPrice }} $
      </h2>
      <h2 class="mt-0.5 text-lg text-gray-900 dark:text-white">
        MRP: {{ productDetail.price }} $
      </h2>

      <p class="mt-0.5 text-lg text-gray-900 dark:text-white">
        Stock :
        {{ productDetail.stock == 0 ? "Out of Stock" : productDetail.stock }}
      </p>
      <p class="mt-0.5 text-lg text-gray-900 dark:text-white">
        Category : {{ productDetail.category }}
      </p>
      <div class="flex gap-4">
        <button
          class="inline-block rounded bg-teal-600 px-4 py-2 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring hover:bg-teal-500"
        >
          Buy</button
        ><button
          class="inline-block rounded bg-teal-600 px-4 py-2 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring hover:bg-teal-500"
          (click)="addToCart(productDetail)"
        >
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</div>
